<div class="container-fluid pt-4">
    <h3 class="d-flex justify-content-center">ATTENDANCE MANAGEMENT SYSTEM</h3>
  
    <div class="container-sm">
      <div class="d-flex justify-content-lg-around pt-3">
        <button class="btn btn-primary" routerLink="/student">
          STUDENT LOGIN
        </button>
        <button class="btn btn-success" routerLink="/teacher">
          TEACHER LOGIN
        </button>
        <button class="btn btn-warning" routerLink="/admin">
          ADMIN LOGIN
        </button>
      </div>
    </div>
    <div class="container border border-primary rounded mt-3 pb-3">
      <router-outlet></router-outlet>
   </div>
  </div>
      
   
  

