<div class="container w-50 pt-5">
  <h1 class="text-center">Admin Login</h1>
  <form [formGroup]="adminform" (submit)="onLoginSubmit()">
    <div class="mb-3">
      <label class="form-label"
        >Username <span class="text-danger">*</span></label
      >
      <input
        type="text"
        required
        class="form-control"
        formControlName="adminusername"
        (blur)="adminform.get('adminusername')?.markAsTouched()"
      />
      <small class="text-danger" *ngIf="adminform.get('adminusername')?.touched && adminform.get('adminusername')?.invalid && adminform.get('adminusername')?.errors?.['required']">
        Username Is Required
        </small>
    </div>
    

    <div class="mb-3">
      <label class="form-label"
        >Password <span class="text-danger">*</span></label
      >
      <input
        type="text"
        required
        class="form-control"
        formControlName="adminpassword"
      />
      <small class="text-danger" *ngIf="adminform.get('adminpassword')?.touched && adminform.get('adminpassword')?.invalid && adminform.get('adminpassword')?.errors?.['required']">
        Password Is Required
        </small>
    </div>

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-success btn-sm"
        [disabled]="adminform.invalid"
      >
        login
      </button>
      <button
        type="button"
        class="btn btn-primary btn-sm ms-2"
        data-bs-toggle="modal"
        data-bs-target="#studentsignup"
      >
        Sign-up
      </button>
    </div>
  </form>
</div>
<div
  class="modal fade"
  id="studentsignup"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <form [formGroup]="adminReg" (submit)="onSignupSubmit()">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Sign-up For Admin
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >First Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              required
              class="form-control"
              formControlName="adminfname"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Last Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              required
              class="form-control"
              formControlName="adminlname"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Username <span class="text-danger">*</span></label
            >
            <input
              type="text"
              required
              class="form-control"
              formControlName="adminusername"
            />
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label"
              >Password <span class="text-danger">*</span></label
            >
            <input
              type="text"
              required
              class="form-control"
              formControlName="adminpassword"
            />
          </div>
          <small class="text-danger">* field required</small>
        </div>
        <div class="modal-footer">
        
          <button
            type="submit"
            class="btn btn-primary btn-sm"
            [disabled]="adminReg.invalid"
          >
            Submit
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
